.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa; /* Color de fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .flash-messages {
    padding: 7px;
    background-color: #a5a3a0; /* Color de fondo */
    color: #fff; /* Color de texto */
    border-radius: 5px;
  }
  
  .flash-messages li {
    margin-bottom: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color de texto */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
  }
  