<link rel="stylesheet" href="/static/css/agregar_producto.css">

{% extends 'index.html' %}
{% block title %}Agregar Producto{% endblock %}
{% block content %}
  
  <!-- Encabezado -->
  <h1>Agregar Producto</h1>
  
  <!-- Formulario para agregar un nuevo producto -->
  <form method="post" enctype="multipart/form-data" class="form_agregar_producto">
    <div class="codigo">
      <label for="codigo">Código:</label>
      <input
        type="text"
        id="codigo"
        name="codigo"
        required
        placeholder="Código del Producto"
      />
    </div>
    <div class="nombre">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        required
        placeholder="Nombre del Producto"
      />
    </div>
    <div class="precio">
      <label for="precio">Precio:</label>
      <input
        type="number"
        id="precio"
        name="precio"
        required
        placeholder="Precio del Producto"
      />
    </div>
    <div class="categoria">
      <label for="categoria">Categoría:</label>
      <select id="categoria" name="categoria" required>
        <option value="" disabled selected>Selecciona una categoría</option>
        <option value="comida">Comida</option>
        <option value="electrodomesticos">Electrodomésticos</option>
        <option value="hogar">Hogar</option>
      </select>
    </div>
    <div class="foto">
      <label for="foto">Foto:</label>
      <input type="file" id="foto" name="foto" required />
    </div>
    <button type="submit" class="botonAgregar">Agregar Producto</button>
  </form>

  <!-- Mensajes de alerta -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
      
  <!-- Lista de productos existentes -->
  <table>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Categoría</th>
      <th>Foto</th>
      <th class="acciones">Acciones</th>
    </tr>
    {% for producto in productos %}
    <tr>
      <td>{{ producto.codigo }}</td>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.precio }}</td>
      <td>{{ producto.categoria }}</td>
      <td>
        <img
          src="{{ url_for('static', filename='/img/' + producto.foto) }}"
          alt="Foto de Producto"
        />
      </td>
  
      <!-- Acciones: Eliminar y Editar -->
      <td>
        <div>
          <form
            action="{{ url_for('eliminar_producto', codigo=producto.codigo) }}"
            method="post"
            onsubmit="return confirm('¿Deseas eliminar el producto en la base de datos?')"
          >
            <button class="botonEliminar_producto" type="submit">Eliminar</button>
          </form>
        </div>
  
        <div>
          <form
            action="{{ url_for('editar_producto', codigo=producto.codigo) }}"
            method="GET"
            onsubmit="return confirm('El Producto ya se encuentra registrado en la base de datos. ¿Deseas modificarlo?')"
          >
            <button class="botonEditar_productos" type="submit">Editar</button>
          </form>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>

  <!-- Buscar producto por código -->
  <h2>Buscar Producto por su Código</h2>
  <form action="{{ url_for('consultar_producto', codigo='') }}" method="GET">
    <label for="codigo">Código del Producto:</label>
    <input
      type="text"
      id="codigo"
      name="codigo"
      required
      placeholder="Ingrese el código del Producto"
    />
    <button class="botonConsultar" type="submit">Consultar</button>
  </form>
  
  <br />
  <br />
  
  <!-- Cerrar sesión -->
  <button>
    <a class="cerrarSesion" href="{{ url_for('logout') }}" type="submit">Cerrar Sesión</a>
  </button>
  
  
{% endblock %}
