<!-- <h2>Lista de Productos</h2>
  
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
    %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    
<table>
  <tr>
    <th>Código</th>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Categoría</th>
    <th>Foto</th>
    <th class="acciones">Acciones</th>
  </tr>
  {% for producto in productos %}
  <tr>
    <td>{{ producto.codigo }}</td>
    <td>{{ producto.nombre }}</td>
    <td>{{ producto.precio }}</td>
    <td>{{ producto.categoria }}</td>
    <td>
      <img
        src="{{ url_for('static', filename='imagenes/' + producto.foto) }}"
        alt="Foto de Producto"
      />
    </td>

    <td>
      <div>
        <form
          action="{{ url_for('eliminarProducto', codigo=producto.codigo) }}"
          method="post"
          onsubmit="return confirm('¿Estás seguro de que quieres eliminar este producto de la Base de Datos?')"
        >
          <button class="botonEliminarProducto"  type="submit">Eliminar</button>
        </form>
      </div>

      <div>
        <form
          action="{{ url_for('editarProducto', codigo=producto.codigo) }}"
          method="GET"
          onsubmit="return confirm('El Producto seleccionadao ya se encuentra registrado en la base de datos.¿Está seguro que desea modificarlo?')"
        >
          <button class="botonEditarProductos"  type="submit">Editar</button>
        </form>
      </div>
    </td>
  </tr>
  {% endfor %}
</table> -->